body {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
	border-style: solid;
	border-width: 2px;
	padding:2px;
	
	
	

}

h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

#bannerDiv {
   background-color: black;
   margin:0;
   padding:0;
   font-size:0;
   height: 170px;
   
}

#leftBannerDiv {
font-size:medium;
  background-color: lightblue;
  display:inline-block;
  width: 60%;
  height: 88%;
    margin: 0;

    padding: 0;
    
}

#dashDiv {
  font-size:medium;
  background-color: blue;
  display:inline-block;
  vertical-align:top;
  width: 40%;
  height: 88%;
  margin: 0;
  padding: 0;	
	
}

#rightBannerDiv {
  font-size:medium;
  background-color: blue;
  display:block;
  vertical-align:top;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;

}

#cvBannerDiv {
  font-size:medium;
  background-color: blue;
  display:block;
  vertical-align:top;
  width: 100%;
  height: 18%;
  margin: 0;
  padding-bottom: 2px;

}
.moduleBut {
	float:right;
	height: 20px;
}

.blackBut {
	color: black;
	/*background-color: transparent;*/
}
.colourBut  {
	color: white;
	background-color: blue;
}

.visBut {
    float:left;
    height: 20px;
}

.smallInput {
	width: 50px;
} 

.mediumInput {
	width: 100px;
}

#neural {
    float: right;
    height: 20px;
}


#regression {
  float: right;	
  height: 20px;
}

#inputOutputDiv {
 /* background-color: yellow;*/
   width: 1080px;
}

#inputDiv {
  /*background-color: lightgrey;*/
  display:inline-block;
  width: 760px;

}

.dataSet {
	display: inline-block;
	height: 101px;
	width: 185px;
	
}

#stats {
   background-color: purple;
}

#navDiv {
   background-color: red;
}

#diagnosticDiv {
   background-color:beige;
   height: 101px;
   width: 220px;
   float: right;
   overflow:auto;		
}

#progressDiv {
    clear: both;
    float:right;
   background-color: pink;
}

#outputDiv {
  display:inline-block;
  vertical-align: top;
  /*width: 550px;*/
  height: 101px;
  width: 200px;
  background-color:lightgrey;
  /*overflow: auto;*/
}
#outputBlog {
  display:block;
  vertical-align: top;
  /*width: 550px;*/
  width: 100%;
  height: 90px;
  overflow: auto;
}

#outputIndiv {
	margin-top:5px;
	 display:block;
	/* width: 500px;*/
	width: 100%;
	 height: 10px;
	 overflow:auto;
}

#trainingInput {
  /*height: 101px;*/
 
}

#visualDiv {

  /*background-color: pink;*/
  width: 1000px;
  height: 340px;

}

#chartsDiv {
    display:none;

}

#architectureDiv {
    display:none;

}

#nnCanvas {

}

#regressionDiv {
    display:none;
}

#chartDiv {
  /* width: 500px;
   height: 500px;*/
   float:left;
}


#chart2Div {
   /*width: 500px;
   height: 500px;*/
   float:left;
}


#costChart {
   /*display: inline-block;*/
   
}

#visualiseChart {
    /*display: inline-block;*/
    

}
	


